<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link href="images/favicon.ico" rel="shortcut icon">
        -->
    <title>Test View</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- Load fontawesome -->
    <!-- link href="./css/all.css" rel="stylesheet" -->
    <!--load all styles -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

</head>

<body>
    Viewレイヤのテスト<br>
    <div id="app" class="mt-2">
        <span class="mr-5 h2">Customer</span>
        <b-button @click='getCustomers'>読み込み</b-button>
        <b-button class="ml-2" @click='addRow'>+</b-button>
        <div class="mt-2"></div>
        <b-table hover caption-top striped small primary-key="id" id="clist" sort-by="id" small head-variant="light"
            :items="customers" :fields="[
                        {  key: 'id', label: 'ID',  sortable: true },
                        {  key: 'title', label: '得意先名' },
                        {  key: 'control', label: '操作'},
                      ]">
            <template v-slot:cell(title)="data">
                <b-form-input v-model="data.item.customerName" type="text" size="sm"></b-form-input>
            </template>
            <template v-slot:cell(control)="data">
                <b-button v-if="data.item.isInsert" @click="insertCustomer(data.item)">保存</b-button>
                <b-button v-else @click="updateCustomer(data.item)">更新</b-button>
                <b-button v-if="data.item.isInsert" @click="getCustomers">キャンセル</b-button>
                <b-button v-else @click="deleteCustomer(data.item)">削除</b-button>
                <b-form-checkbox v-model="data.detailsShowing" @change="data.toggleDetails">詳細</b-form-checkbox>
            </template>
            <template #row-details="data">
                <b-card>

                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>敬称:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.honorificTitle" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>郵便番号:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.postNumber" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>住所:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.address" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>電話番号:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.telNumber" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>FAX番号:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.faxNumber" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>ホームページURL:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.url" size="sm" rows="3" max-rows="8"></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>メールアドレス:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.email" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>担当者:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.manager" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>代表者名:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.representative" size="sm" rows="3" max-rows="8">
                            </b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>メモ:</b></b-col>
                        <b-col>
                            <b-form-textarea v-model="data.item.memo" size="sm" rows="3" max-rows="8"></b-form-textarea>
                        </b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>作成日:</b></b-col>
                        <b-col>{{ data.item.createdAt }}</b-col>
                    </b-row>
                    <b-row class="mb-2">
                        <b-col sm="3" class="text-sm-right"><b>更新日:</b></b-col>
                        <b-col>{{ data.item.updatedAt }}</b-col>
                    </b-row>

                    <b-button size="sm" @click="data.toggleDetails">詳細を隠す</b-button>

                </b-card>
            </template>
        </b-table>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                customers: [],
            },
            methods: {
                getCustomers: async function () {
                    self = this;
                    url = "/customers";
                    await axios.get(url)
                        .then(function (response) {
                            console.log(response);
                            self.customers = response.data;
                        });
                },
                insertCustomer: async function (item) {
                    url = "/customer";
                    await axios.post(url, item)
                        .then(function (response) {
                            console.log(response);
                            self.getCustomers();
                        });
                },
                updateCustomer: async function (item) {
                    url = "/customer/" + item.id;
                    await axios.put(url, item)
                        .then(function (response) {
                            console.log(response);
                            self.getCustomers();
                        });
                },
                deleteCustomer: async function (item) {
                    url = "/customer/" + item.id;
                    await axios.delete(url)
                        .then(function (response) {
                            console.log(response);
                            self.getCustomers();
                        });
                },
                addRow: function () {
                    this.customers.push({
                        isInsert: true
                    })
                },
            }
        })
    </script>

</body>

</html>